.pitch-button {
  display: inline-block;
  margin: 10px 5px;
}
.songlist {
  width: 100%;
  max-width: 768px;
}
.song-row {
  border-top: 1px solid gray;
  padding: 10px 0;
}
.song-row:hover {
  background-color: lightgray;
}
.song-row .song-pitch {
  float: right;
}
.songs-searchbox {
  margin: 10px 0;
}
