.pitch-button {
  border: 1px solid black;
}
.songlist {
  width: 100%;
  max-width: 768px;
}
.song-row {
  border-top: 1px solid gray;
  padding: 10px;
}
/*.song-row:hover,*/
.song-row:active {
  background-color: lightgray;
}
.song-row .song-pitch {
  float: right;
}
.songs-searchbox {
  margin: 10px 0;
}
